@treaties-logo-width: 3em; // in em

.dropdown-treaties-menu .dropdown-toggle {
  @media @grid-mobile {
    display: none;
  }
}
.treaties-menu {
  padding: 0;
  // Hide treaties menu on mobile
  .navbar & {
    flex-direction: column;
    left: 0;
    right: 0;
    @media @grid-mobile {
      &, .open & { display: none; }
    }
    @media @grid-desktop {
      .navbar-nav & {
        display: flex;
        min-height: 30em;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        border-right: 1px solid #ddd;
        height: 100%;
        left: 30%;
      }
    }
  }

  .divider {
    margin: 1em 1.5em;
    .navbar & {
      @media @grid-desktop {
        width: calc(~'30% - 3em');
      }
    }
  }

  > li {
    .navbar & {
      @media @grid-desktop {
        position: static;
        width: 30%;
      }
    }
  }

  &-title {
    cursor: pointer;
    position: relative;
    z-index: 1;
    white-space: normal;
    // Override bootstrap styles
    .dropdown-menu > li > & {
      color: @regional-page-gray;
      padding-top: .6em;
      padding-bottom: .6em;
      &.treaties-menu-all-link {
        background-color: #ddd;
        color: @text-color;
        font-weight: bold;
        text-transform: uppercase;
        &:focus {
          background-color: #0099d5;
          color: #fff;
        }
      }
    }

    i { color: @text-color; }

  }

  &-list {
    border: none;
    border-left: 1px solid #ddd;
    bottom: 0;
    box-shadow: none;
    margin-top: 0;
    overflow: auto;
    padding-bottom: 2.5em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    z-index: 0;
    .navbar & {
      left: 30%;
      right: 0;
      top: 0;
    }
  }

  &-heading {
    padding: 1em 0;

   .treaties-menu-list-item + & {
      margin-top: 1em;
    }
  }

  &-inside-list-item {
    & + & { margin-top: .3em; }
  }

  &-treaty {
    align-items: center;
    // Bug #341 replace inline-flex with flex since the final outcome isn't detrimental (every link is 100% width, meaning it's clickable on the full width ) but the IE issue is fixed
    display: flex;
    flex-wrap: wrap;
    min-height: @treaties-logo-width;
    padding: .5em 0;
    padding-left: @treaties-logo-width + 2em;
    position: relative;
    &:hover,
    &:focus {
      text-decoration: none;
      .treaties-menu-treaty-name { text-decoration: underline; }
    }
    &-logo {
      height: @treaties-logo-width;
      left: 0;
      object-fit: contain;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: @treaties-logo-width;
    }

    &-name {
      color: #0A8FC6;
      flex-basis: 100%;
    }
    &-info {
      color: @regional-page-gray;
      font-size: .9em;
    }
  }

  &-all {
    margin-top: auto;
  }
}

.navbar-nav > .dropdown > .treaties-menu > li:hover > .menu-title,
.navbar-nav > .dropdown > .treaties-menu > li.open > .menu-title,
.navbar-nav > .dropdown > .treaties-menu > li > .menu-title:focus,
.navbar-nav > .dropdown > .treaties-menu .dropdown-toggle:focus + .menu-title {

  &::before {
    display: inline-block;
    visibility: visible;
  }
  @media @grid-desktop {
    &::after {
      display: inline-block;
      visibility: visible;
    }
  }

  &.treaties-menu-all-link {
    &::before, &::after { display: none; }
  }

}

.browse-all-menu,
.more-menu {
  padding-left: 2rem;
  padding-right: 2rem;
  @media @grid-desktop {
    padding-left: 2.8rem;
    padding-right: 2.8rem;
  }
  > li {
    margin-left: -2rem;
    margin-right: -2rem;
    @media @grid-desktop {
      margin-left: -2.8rem;
      margin-right: -2.8rem;
    }
  }
  > .dropdown-header {
    margin-left: 0;
    margin-right: 0;
  }
  > .divider {
    @media @grid-desktop {
      margin-left: -1rem;
      margin-right: -1rem;
    }
  }
}

.browse-all-menu {
  padding-bottom: 1.5em;

  @media @grid-mobile {
    padding-top: 1.5em;
  }

  .navbar-nav & > li > a {
    padding-left: 4rem;
  }

  .navbar-nav > .dropdown > & > li > .menu-title {
    &:before {
      left: 2rem;
      @media @grid-desktop {
        left: 2.8rem;
      }
    }

  }

}
