.field-name-field-mea-topic,
.views-field-field-mea-topic,
.page-topics .views-field-field-region {

  &,
  > .field-content {
    display: inline;
  }

}

.field-name-field-mea-topic ul,
.views-field-field-mea-topic ul,
.page-topics .views-field-field-region ul,
.informea-topics {

  .list-unstyled();
  display: inline;
  margin-bottom: 0;
  margin-top: -.3em;
  font-size: 0;
  position: relative;
  left: -.5rem;

  > li {
    background-color: #DADADA;
    display: inline-block;
    font-size: 1.4rem;
    margin-left: .3em;
    margin-top: .3em;
    padding: .2em .6em .1em;
    text-align: center;

    .loop-mea-topics({
      &.topic--@{mea-topic-class} {
        background-color: @mea-topic-color;
        color: #fff;
        font-weight: 300;
      }
    });

  }
}
