.scroll-button {
  background-color: #ffcc33;
  border-radius: 50%;
  bottom: 30px;
  box-shadow: 1px 1px 3px;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  opacity: 0;
  position: fixed;
  right: 30px;
  transition: opacity .2s;
  width: 56px;
  z-index: @zindex-modal;

  &::before, &::after {
    content: "";
    display: block;
    height: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }

  &.scroll-to-top {

    &::before, &::after {
      border-bottom: 12px solid;
      border-top: 12px solid transparent;
    }

    &::before {
      border-bottom-color: #005289;
      margin-top: -6px;
    }

    &::after {
      border-bottom-color: #ffcc33;
      margin-top: -5px;
    }

    &.active {
      cursor: pointer;
      opacity: 1;
      z-index: @zindex-modal + 1;
    }
    .page-topics &,
    .page-regions & {
      bottom: 30px + 10px + 56px;
      cursor: not-allowed;
      opacity: 0.5;

      &.active {
        cursor: pointer;
        opacity: 1;
      }
    }

  }

  &.scroll-to-bottom {
    pointer-events: none;
    cursor: none;

    &::before, &::after {
      border-top: 12px solid;
      border-bottom: 12px solid transparent;
    }

    &::before {
      border-top-color: #005289;
      margin-top: 7px;
    }

    &::after {
      border-top-color: #ffcc33;
      margin-top: 6px;
    }

    .page-topics &,
    .page-regions & {
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events: all;
      &.active {
        cursor: pointer;
        opacity: 1;
        z-index: @zindex-modal + 1;
      }

    }
  }

}
