h2.topic-title {
  .topic-title-all {
    display: none;
  }
  span {
    .loop-mea-topics({
      .page-treaties.topic-@{mea-topic-class} &,
      .page-topics.topic-@{mea-topic-class} & {
        color: @mea-topic-color;
        font-style: italic;
      }
    });
    .page-treaties.topic- & {
      display: none;
    }
  }
}
.page-treaties.topic- {
  .topic-title-all {
    display: inline-block;
    margin-right: .2em;
  }
}
h2.regional-topic-title {
  span {
    color: #0A8FC6;
    font-style: italic;
  }
}

// Search block styling (including overrides of the old skin)
.search-block {
  background-color: #0A8FC6;
  color: #fff;
  border-top: 1px solid #fff;
  padding: 2.5em 0;
  position: relative;
  a.select2-choice{
    span.select2-chosen{
      line-height: 1.42857143;
    }
  }
  .loop-mea-topics({
    .page-treaties.topic-@{mea-topic-class} &,
    .page-topics.topic-@{mea-topic-class} & {
      // position: relative;
      background-color: @mea-topic-color;
      &,
      & a,
      & #block-informea-informea-page-title select,
      & #block-informea-informea-page-title .select2-container { color: #fff; }

      & #search-form .select,
      & #search-form .select2-container .select2-choice {
        color: @text-color;
      }
    }
  });
  // search block isn't covered by select2 overlay
  .select2-open & {
    pointer-events: none;
    z-index: @zindex-navbar + 2;
  }

  h1,
  #block-informea-informea-page-title select,
  #block-informea-informea-page-title .select2-container {
    font-size: 1.9em;
    font-weight: normal;
    text-align: center;
  }
  .region-navigation {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    > .block {
      float: none;
      max-width: 100%;
      text-align: initial;
    }
  }
  #search-form {
    margin: 0;
    width: 100%;
    .input-group {
      display: flex;
    }
    .input-group-btn {
      width: auto;
      button {
        height: 100%;
        padding: 0;
        @media (max-width: @screen-xs-max) {
          width: 30px;
        }

      }
    }
    .edit-search-in {
      align-items: center;
      background-color: #fff;
      border-bottom: 1px solid #fc3;
      border-top: 1px solid #fc3;
      color: @text-color;
      display: inline-flex;
      padding: 0 .3em;
      // Bug #341 fixes IE spacing
      margin-left: -1px;
    }
    .form-text {
      border-radius: 2px 0 0 2px;
      border-right: none;
      box-shadow: none;
      padding-left: 2em;
      padding-right: 2em;
      height: auto;
      @media (max-width: @screen-xs-max) {
        padding-left: .5em;
        padding-right: .5em;
      }
    }
    select,
    .select2-container {
      align-items: center;
      background-color: #E7E7E7;
      border-bottom: 1px solid #fc3;
      border-radius: 0;
      border-top: 1px solid #fc3;
      color: #424242;
      display: inline-flex;
      flex-shrink: 0;
      padding: 0 .3em;
      &.select2-container-active:not(.select2-dropdown-open) {
        background-color: darken(#E7E7E7, 3%);
        text-decoration: underline;
      }
      .select2-chosen {
        padding-right: 1.5em;
      }
      .select2-arrow {
        order: -1;
        padding-left: 0;
      }
    }
    .select2-container .select2-choice {
      background: transparent;
      border: none;
    }
  }
}

.block-informea-search {
  flex-basis: 100%;
  width: 100%;
}

#block-informea-informea-page-title {
  .search-block & {
    align-items: center;
    display: inline-flex;
    margin-left: .5em;
    margin-bottom: .5em;
  }
  .search-block & select,
  .search-block & .select2-container {
    color: #fc3;
    font-style: italic;
    padding: 0px 0.4em;
  }
  .select2-container .select2-choice {
    background: transparent;
    border: none;
  }
  .search-block & .select2-container,
  .search-block & .select2-container.select2-container-active.select2-dropdown-open {
    border-bottom: 1px solid transparent;
    margin-bottom: -1px;
  }
  .search-block & .select2-container.select2-container-active {
    border-bottom: 1px solid;
  }
}


// Custom select2 styling for search block
.edit-search-category-drop,
.edit-geographic-region-drop {
  .select2-results {
    max-height: 100vh;
  }
}
.edit-search-category-drop {
  .select2-result-sub {
    display: flex;
    flex-flow: row wrap;
  }
  .select2-results-dept-0:last-child {
    background-color: #E7E7E7;
  }
  .select2-results-dept-1 {
    color: #8A8A8A;
    display: flex;
    &:before {
      content: '\2022';
    }
    &:first-child {
      color: #424242;
      flex-basis: 100%;
      &.select2-result > .select2-result-label { padding-left: 0; }
      &:before { content: none; }
    }
    &:nth-child(2) {
      &:before {
        content: '\21B3';
        float: left;
        margin-right: .1em;
        color: inherit;
        [dir="rtl"] & {
          content: '\21B5';
        }
      }
    }
  }
  .select2-highlighted {
    background-color: initial;
    > .select2-result-label { text-decoration: underline; }
  }
  .select2-result-unselectable:hover,
  .select2-result-unselectable:focus {
    background-color: #098FC5;
    &, .select2-result-selectable { color: #fff; }
    .select2-highlighted > .select2-result-label {
      color: #fc3;
      text-decoration: none;
    }
  }
  .select2-results-dept-0.select2-result-unselectable {
    padding: .3em 1.5em;
  }
  .select2-result-unselectable > .select2-result-label {
    display: none;
  }
  .select2-results ul.select2-result-sub > li .select2-result-label {
    padding-left: 7px;
  }
}

.edit-geographic-region-drop {
  .select2-result-label {
    padding: .5em 1.5em;
  }
  .select2-highlighted {
    > .select2-result-label:before {
      border-bottom: 8px solid transparent;
      border-left: 10px solid;
      border-top: 8px solid transparent;
      content: '';
      display: inline-block;
      height: 0;
      left: .5em;
      position: absolute;
      vertical-align: middle;
      width: 0;
    }
  }
}
.category-group-title {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  font-weight: bold;
}
.category-group-inner {
  font-size: 12px;
  font-style: italic;
}
