@mea-topics-list:
  '850' #90bc2f,
  '851' #e03d0b,
  '852' #31a0ba,
  '4417' #044170,
  'Biodiversity' #90bc2f,
  'Chemicals-and-Wastes' #e03d0b,
  'Climate-Change-and-Atmosphere' #31a0ba,
  'Water' #044170;


.loop-mea-topics(@rules, @index: length(@mea-topics-list)) when (@index > 0) {
  & {
    @mea-topic-class: e(extract(extract(@mea-topics-list, @index), 1));
    @mea-topic-color: e(extract(extract(@mea-topics-list, @index), 2));
    @rules();

    // next iteration
   .loop-mea-topics(@rules, (@index - 1));
  }
}

.text--uppercase {
  text-transform: uppercase;
}

.informea-heading--gray-underline {
  border-bottom: 1px solid;
  color: @regional-page-gray;
  display: inline-block;
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.caret {
  border-top: .4em dashed;
  border-right: .4em solid transparent;
  border-left: .4em solid transparent;
}
