@icon-font-path: '../bootstrap/fonts/';
@grid-float-breakpoint: 1200px;

@pagination-disabled-bg: transparent;
@pagination-disabled-color: @pagination-disabled-border;

// Navbar toggle
@navbar-default-toggle-hover-bg:           transparent;
@navbar-default-toggle-icon-bar-bg:        transparent;
@navbar-default-toggle-border-color:       transparent;
@navbar-default-toggle-icon-bar-bg:        #fff;

@navbar-default-link-color:                #fff;
@navbar-default-link-hover-color:          @navbar-default-link-color;
@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-active-color:         #fc3;
@navbar-default-link-active-bg:            transparent;
@navbar-default-link-disabled-color:       fade(#fff, 80%);
@navbar-default-link-disabled-bg:          transparent;
