@topic-switcher-padding-top: 8px;
@topic-switcher-padding-bottom: 5px;

@regional-page-gray: #8F8F8F;
@regional-page-light-blue: #1D7CA7;

.regional-page-underlined-title() {
  border-bottom: 2px solid;
  display: inline-block;
  font-size: .9em;
  font-weight: 500;
  margin-bottom: .6em;
  margin-top: 2em;
  padding-bottom: 1em;
  text-transform: uppercase;
}
.regional-page-view-item-title() {
  &, & a { color: @regional-page-light-blue; }
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: .6em;
  margin-top: 1.5em;
}

// Regional page specific styles
.page-regions {
  .panels-flexible-row {
    width: 100%;
    &.row { margin-left: 0; margin-right: 0; }
    > .panels-flexible-row-inside {
      .container();
      padding-left: 0;
      padding-right: 0;
    }
  }

  .region-content {
    > .block-block { .container(); }
  }

  .views-field-title {
    .regional-page-view-item-title();
  }

  .views-field-type {
    background-color: #DADADA;
    color: #fff;
    display: inline-block;
    font-weight: 300;
    min-width: 6em;
    padding: .2em .4em .1em;
    text-align: center;
    + .views-field {
      margin-left: .5em;
      ~ .views-field {
        border-left: 1px solid;
        margin-left: .2em;
        padding-left: .5em;
      }
    }
    ~ .views-field-field-city + .views-field-field-country,
    ~ .views-field-field-country + .views-field-field-city {
      border-left: 0;
      padding-left: 0;
    }
    ~ .views-field {
      color: @regional-page-gray;
      display: inline-block;
    }
  }

  .view-regional-treaties {
    .view-empty {
      margin-top: 18px * 1.5;
    }
  }

  .pane-view-global-treaties .views-field-title {
    font-weight: normal;
  }

  .views-field-field-informea-tags {
    color: @regional-page-gray;
    > .views-label {
      float: left;
      margin-right: .5em;
    }
  }
}

// 'Treaties and MEAs'
.regional-page-panels-title h2 {
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 2em;
  margin-top: 3em;
}

// Topic switcher
.pane-geographic-region-region-switch-topic,
.topic-switcher-panel-container {
  background-color: #E7E7E7;
}
.pane-geographic-region-region-switch-topic {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  .pane-content {
    overflow: hidden;
    margin-top: -10px;
    padding-top: 10px;
  }
  .pane-title {
    align-items: flex-end;
    color: #111;
    display: flex;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    opacity: .7;
    padding: @topic-switcher-padding-top 1em @topic-switcher-padding-bottom;
    text-align: right;
    white-space: nowrap;
    &:after {
      content: ':';
    }
  }
  .nav-tabs {
    align-items: flex-end;
    border: none;
    display: flex;
    margin-bottom: 0;
    margin-top: -10px;
    // @todo: add scroll indicators, for now scroll can be achieved by holding shift
    overflow-x: scroll;
    margin-bottom: -15px;

    > li { margin-bottom: 0; }
    > li > a {
      font-weight: bold;
      padding: @topic-switcher-padding-top 18px @topic-switcher-padding-bottom;
      white-space: nowrap;
    }
    > li > a,
    > li > a:hover,
    > li > a:focus {
      border: none;
      border-left: 1px solid #D6D6D6;
      color: #1C1C1C;
      margin-right: 0;
    }
    > li.active > a,
    > li.active > a:hover,
    > li.active > a:focus {
      border: none;
      color: @regional-page-light-blue;
      padding-top: (10px + 8px);
    }
    > li.all-topics > a {
      padding-left: 12px;
      &:before {
        .caret();
        content: '';
        color: #414141;
        margin-left: 0;
        margin-right: .3em;
        margin-top: -.2em;
        border-top: .5em dashed;
        border-right: .5em solid transparent;
        border-left: .5em solid transparent;
      }
    }
  }
}

// Regional & global treaties
.pane-regional-treaties > .pane-title,
.pane-geographic-region-region-downloadable-documents .section-title {
  .regional-page-underlined-title();
  color: @regional-page-gray;
}

.pane-geographic-region-region-downloadable-documents,
.pane-news-and-events {
  > .pane-title {
    color: #2B2B2B;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 2em;
    margin-top: 3em;
  }
}

// Gray bg panel group
.regional-page-accent-panel-container {
  background-color: #F3F3F3;
  margin-top: 7em;
}
.region-downloadable-documents-list {
  > .section-title:first-child { margin-top: 0; }
  > li > a {
    color: #242424;
    display: block;
    padding: .2em 0;
  }
}
