.view-search {
  .view-header {
    float: left;
  }

  .views-row {
    margin-top: 1em;
  }

  .views-widget-filter-search_api_views_fulltext,
  .views-widget-sort-sort_bef_combine label,
  .views-submit-button {
    display: none;
  }

  .views-widget-sort-sort_bef_combine {
    float: right;
    margin: 0;
    padding: 0;
    .bef-select-as-links > .form-item {
      display: flex;
    }
    .bef-select-as-links .form-type-bef-link {
      margin-left: 1em;
      > a {
        color: @text-color;
        &.active {
          color: #0099d5;
        }
      }
    }
  }

}

.node--search-item {

  align-items: flex-start;
  display: flex;

  .left-column {
    align-items: center;
    border: 1px solid #D6D6D6;
    display: flex;
    flex-basis: 10rem;
    flex-shrink: 0;
    justify-content: center;
    margin-right: 1.5em;
    min-height: 10rem;
    padding: .6rem;
  }

  .right-column {
    flex: 1;
  }

  .flag {
    border: none;
    padding: 0;
    margin: 0;
  }

  .field-label-inline {
    .field-label {
      margin-right: .3em;
      width: auto;
      word-break: normal;
    }
  }
  .meta-content-type:extend(.view__item-tag) {
    margin-left: 0;
  }

}
