.view-search {
  .view__rows();
  .view-header {
    float: left;
  }

  .views-widget-filter-search_api_views_fulltext,
  .views-widget-sort-sort_bef_combine label,
  .views-submit-button {
    display: none;
  }

  .views-widget-sort-sort_bef_combine {
    float: right;
    margin: 0;
    padding: 0;
    .bef-select-as-links > .form-item {
      display: flex;
    }
    .bef-select-as-links .form-type-bef-link {
      margin-left: 1em;
      > a {
        color: @text-color;
        &.active {
          color: #0099d5;
        }
      }
    }
  }

}
