.informea-teaser {
  padding: 2em 0;
  .views-row + .views-row & { border-top: 1px solid #ddd; }

  align-items: flex-start;
  display: flex;
  width: 100%;

  &__title:extend(.view__title--strong all) {}

  &__left {
    align-items: flex-end;
    display: flex;
    flex-flow: column;
    margin-right: 1.5em;
    width: 10rem;

    > .field-type-entityreference .node--view-mode-image_only,
    > .field-type-image {
      align-items: center;
      border: 1px solid #D6D6D6;
      display: flex;
      flex-basis: 10rem;
      flex-shrink: 0;
      justify-content: center;
      min-height: 10rem;
      padding: .6rem;
      width: 100%;
    }

  }

  &__right {
    flex: 1;
  }

  .flag {
    border: none;
    padding: 0;
    margin: 0;
  }

  .field-label-inline {
    .field-label {
      font-weight: normal;
      margin-right: .3em;
      width: auto;
      word-break: normal;
    }
  }

  &__info {
    // @todo: mixin
    align-items: center;
    color: @regional-page-gray;
    display: flex;
    flex-flow: row wrap;
    margin-left: -.8rem;
    margin-top: .5em;

    > .field {
      display: flex;
      margin-left: .8rem;
      color: #777;
      + .field {
        &:before {
          color: @regional-page-gray;
          content: '|';
          margin-right: .8rem;
        }
      }
    }

    // @todo hide separator only when the country name is hidden
    > .field-name-field-country + .field:before { display: none; }

    .field-name-field-country {
      > .field-items {
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        margin-left: -.5rem;
        > .field-item {
          margin-left: .5rem;
        }
      }
    }
    // Override old theme styling
    .countries-list-item { margin-bottom: 0; }

    .countries-list-item .label,
    .countries-list-item .label a { font-size: 1em; }

    .countries-list-item .country-flag img { margin: 0; }

    .countries-list-item .label {
      padding: 0;
    }

    img {
      height: 1em;
      width: auto;
    }
  }


  &__tags {
    display: flex;
    flex-flow: row wrap;
    margin-top: .5em;
  }

  &__links {
    // @todo: mixin
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    margin-left: -.3rem;
    margin-top: .5em;

    > .field {
      display: flex;
      margin-left: .3rem;
      + .field {
        &:before {
          color: @regional-page-gray;
          content: '|';
          margin-right: .3rem;
        }
      }
    }
  }

  .file-icon { display: none; }

  .field-name-field-informea-tags,
  .treaty-links {
    margin-top: 1em;
  }

  .field-name-field-informea-tags {
    color: #999;
    .field-label {
      font-weight: normal;
    }
  }
}

.meta-content-type:extend(.view__item-tag) {
  margin-left: 0;
}
