@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media screen and (max-width: 767px) {
}
.page-regions .panels-flexible-row > .panels-flexible-row-inside:before,
.page-regions .panels-flexible-row > .panels-flexible-row-inside:after,
.page-regions .region-content > .block-block:before,
.page-regions .region-content > .block-block:after,
.view-contacts-hubs:before,
.view-contacts-hubs:after {
  content: " ";
  display: table;
}
[dir] .page-regions .panels-flexible-row > .panels-flexible-row-inside:after, [dir] .page-regions .region-content > .block-block:after, [dir] .view-contacts-hubs:after {
  clear: both;
}
[dir=ltr] .resizable-textarea .grippie {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
[dir=rtl] .resizable-textarea .grippie {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.search-block {
  color: #fff;
  position: relative;
}
[dir] .search-block {
  background-color: #0A8FC6;
  border-top: 1px solid #fff;
  padding: 2.5em 0;
}
.select2-open .search-block {
  pointer-events: none;
  z-index: 1002;
}
.search-block h1,
.search-block .block-geographic-region select,
.search-block .block-geographic-region .select2-container {
  font-size: 1.9em;
  font-weight: normal;
}
[dir] .search-block h1, [dir] .search-block .block-geographic-region select, [dir] .search-block .block-geographic-region .select2-container {
  text-align: center;
}
.search-block .region-navigation {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.search-block .region-navigation > .block {
  max-width: 100%;
}
[dir] .search-block .region-navigation > .block {
  float: none;
  text-align: initial;
}
[dir=ltr] .search-block .region-navigation > .block {
  text-align: left;
}
[dir=rtl] .search-block .region-navigation > .block {
  text-align: right;
}
.search-block #search-form {
  width: auto;
}
[dir] .search-block #search-form {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .search-block #search-form {
    width: 80%;
  }
}
.search-block #search-form .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
}
.search-block #search-form .input-group-btn {
  width: auto;
}
[dir] .search-block #search-form .input-group-btn button {
  padding: 0;
}
@media (max-width: 767px) {
  .search-block #search-form .input-group-btn button {
    width: 30px;
  }
}
.search-block #search-form .edit-search-in {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  -js-display: inline-flex;
  display: inline-flex;
}
[dir] .search-block #search-form .edit-search-in {
  background-color: #fff;
  border-bottom: 1px solid #fc3;
  border-top: 1px solid #fc3;
  padding: 0 .3em;
}
.search-block #search-form .form-text {
  -webkit-box-shadow: none;
}
[dir] .search-block #search-form .form-text {
          box-shadow: none;
}
[dir=ltr] .search-block #search-form .form-text {
  border-radius: 2px 0 0 2px;
  border-right: none;
  padding-left: 2em;
  padding-right: 2em;
}
[dir=rtl] .search-block #search-form .form-text {
  border-radius: 0 2px 2px 0;
  border-left: none;
  padding-right: 2em;
  padding-left: 2em;
}
@media (max-width: 767px) {
  [dir=ltr] .search-block #search-form .form-text {
    padding-left: .5em;
    padding-right: .5em;
  }
  [dir=rtl] .search-block #search-form .form-text {
    padding-right: .5em;
    padding-left: .5em;
  }
}
.search-block #search-form select,
.search-block #search-form .select2-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #424242;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  -js-display: inline-flex;
  display: inline-flex;
}
[dir] .search-block #search-form select, [dir] .search-block #search-form .select2-container {
  background-color: #E7E7E7;
  border-bottom: 1px solid #fc3;
  border-top: 1px solid #fc3;
  border-radius: 0;
  padding: 0 .3em;
}
.search-block #search-form select.select2-container-active:not(.select2-dropdown-open),
.search-block #search-form .select2-container.select2-container-active:not(.select2-dropdown-open) {
  text-decoration: underline;
}
[dir] .search-block #search-form select.select2-container-active:not(.select2-dropdown-open), [dir] .search-block #search-form .select2-container.select2-container-active:not(.select2-dropdown-open) {
  background-color: #dfdfdf;
}
[dir=ltr] .search-block #search-form select .select2-chosen, [dir=ltr] .search-block #search-form .select2-container .select2-chosen {
  padding-right: 1.5em;
}
[dir=rtl] .search-block #search-form select .select2-chosen, [dir=rtl] .search-block #search-form .select2-container .select2-chosen {
  padding-left: 1.5em;
}
.search-block #search-form select .select2-arrow,
.search-block #search-form .select2-container .select2-arrow {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
[dir=ltr] .search-block #search-form select .select2-arrow, [dir=ltr] .search-block #search-form .select2-container .select2-arrow {
  padding-left: 0;
}
[dir=rtl] .search-block #search-form select .select2-arrow, [dir=rtl] .search-block #search-form .select2-container .select2-arrow {
  padding-right: 0;
}
.search-block .select2-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  -js-display: inline-flex;
  display: inline-flex;
}
[dir=ltr] .search-block .select2-container {
  width: auto !important;
}
[dir=rtl] .search-block .select2-container {
  width: auto !important;
}
.search-block select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  color: inherit;
}
[dir] .search-block select {
  background: transparent;
  border: none;
          box-shadow: none;
}
.search-block select::-ms-expand {
  display: none;
}
.search-block .select2-choice {
  -webkit-box-shadow: none;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
}
[dir] .search-block .select2-choice {
  background: transparent;
  border: none;
          box-shadow: none;
}
[dir=ltr] .search-block .select2-choice > .select2-chosen {
  margin-right: 0;
}
[dir=rtl] .search-block .select2-choice > .select2-chosen {
  margin-left: 0;
}
.search-block .select2-choice .select2-arrow {
  -webkit-box-shadow: none;
  position: static;
  width: auto;
}
[dir] .search-block .select2-choice .select2-arrow {
  background: none;
  border: none;
          box-shadow: none;
  padding: 0 .3em;
}
.search-block .select2-choice .select2-arrow b {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
}
[dir] .search-block .select2-choice .select2-arrow b {
  border-top: 4px dashed;
  border-top: 4px solid \9;
  background: none;
  border-top: .4em dashed;
}
[dir=ltr] .search-block .select2-choice .select2-arrow b {
  margin-left: 2px;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-right: .4em solid transparent;
  border-left: .4em solid transparent;
}
[dir=rtl] .search-block .select2-choice .select2-arrow b {
  margin-right: 2px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-left: .4em solid transparent;
  border-right: .4em solid transparent;
}
.block-informea-search {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 100%;
}
.search-block .block-geographic-region {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  -js-display: inline-flex;
  display: inline-flex;
}
[dir] .search-block .block-geographic-region {
  margin-bottom: .5em;
}
[dir=ltr] .search-block .block-geographic-region {
  margin-left: .5em;
}
[dir=rtl] .search-block .block-geographic-region {
  margin-right: .5em;
}
.search-block .block-geographic-region select,
.search-block .block-geographic-region .select2-container {
  color: #fc3;
  font-style: italic;
}
[dir] .search-block .block-geographic-region select, [dir] .search-block .block-geographic-region .select2-container {
  padding: 0px 0.4em;
}
[dir] .search-block .block-geographic-region .select2-container, [dir] .search-block .block-geographic-region .select2-container.select2-container-active.select2-dropdown-open {
  border-bottom: 1px solid transparent;
  margin-bottom: -1px;
}
[dir] .search-block .block-geographic-region .select2-container.select2-container-active {
  border-bottom: 1px solid;
}
[dir] .select2-drop-active {
  border: 1px solid #fc3;
}
[dir] .select2-results ul.select2-result-sub {
  padding: 0;
}
.select2-results .select2-highlighted {
  color: #fff;
}
[dir] .select2-results .select2-highlighted {
  background-color: #098FC5;
}
[dir] .select2-results {
  padding: 0;
  margin: 0;
}
.select2-results li {
  color: #424242;
}
[dir] .select2-results > li {
  padding: 0;
}
[dir] .select2-results > li + li {
  border-top: 1px solid #ccc;
}
.select2-drop-mask {
  opacity: 1;
  z-index: 1001;
}
[dir] .select2-drop-mask {
  background-color: rgba(0, 0, 0, .3);
}
.edit-search-category-drop .select2-results,
.edit-geographic-region-drop .select2-results {
  max-height: 100vh;
}
.edit-search-category-drop .select2-result-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.edit-search-category-drop .select2-results-dept-1 {
  color: #8A8A8A;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
}
.edit-search-category-drop .select2-results-dept-1:before {
  content: '\2022';
}
.edit-search-category-drop .select2-results-dept-1:first-child {
  color: #424242;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
[dir=ltr] .edit-search-category-drop .select2-results-dept-1:first-child.select2-result > .select2-result-label {
  padding-left: 0;
}
[dir=rtl] .edit-search-category-drop .select2-results-dept-1:first-child.select2-result > .select2-result-label {
  padding-right: 0;
}
.edit-search-category-drop .select2-results-dept-1:first-child:before {
  content: none;
}
.edit-search-category-drop .select2-results-dept-1:nth-child(2):before {
  content: '\21B3';
  color: inherit;
}
[dir=ltr] .edit-search-category-drop .select2-results-dept-1:nth-child(2):before {
  float: left;
  margin-right: .1em;
}
[dir=rtl] .edit-search-category-drop .select2-results-dept-1:nth-child(2):before {
  float: right;
  margin-left: .1em;
}
[dir="rtl"] .edit-search-category-drop .select2-results-dept-1:nth-child(2):before {
  content: '\21B5';
}
[dir] .edit-search-category-drop .select2-highlighted {
  background-color: transparent;
  background-color: initial;
}
.edit-search-category-drop .select2-highlighted > .select2-result-label {
  text-decoration: underline;
}
[dir] .edit-search-category-drop .select2-result-unselectable:hover, [dir] .edit-search-category-drop .select2-result-unselectable:focus {
  background-color: #098FC5;
}
.edit-search-category-drop .select2-result-unselectable:hover,
.edit-search-category-drop .select2-result-unselectable:focus,
.edit-search-category-drop .select2-result-unselectable:hover .select2-result-selectable,
.edit-search-category-drop .select2-result-unselectable:focus .select2-result-selectable {
  color: #fff;
}
.edit-search-category-drop .select2-result-unselectable:hover .select2-highlighted > .select2-result-label,
.edit-search-category-drop .select2-result-unselectable:focus .select2-highlighted > .select2-result-label {
  color: #fc3;
  text-decoration: none;
}
[dir] .edit-search-category-drop .select2-results-dept-0.select2-result-unselectable {
  padding: .3em 1.5em;
}
.edit-search-category-drop .select2-result-unselectable > .select2-result-label {
  display: none;
}
[dir=ltr] .edit-search-category-drop .select2-results ul.select2-result-sub > li .select2-result-label {
  padding-left: 7px;
}
[dir=rtl] .edit-search-category-drop .select2-results ul.select2-result-sub > li .select2-result-label {
  padding-right: 7px;
}
[dir] .edit-geographic-region-drop .select2-result-label {
  padding: .5em 1.5em;
}
.edit-geographic-region-drop .select2-highlighted > .select2-result-label:before {
  content: '';
  display: inline-block;
  height: 0;
  position: absolute;
  vertical-align: middle;
  width: 0;
}
[dir] .edit-geographic-region-drop .select2-highlighted > .select2-result-label:before {
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
}
[dir=ltr] .edit-geographic-region-drop .select2-highlighted > .select2-result-label:before {
  border-left: 10px solid;
  left: .5em;
}
[dir=rtl] .edit-geographic-region-drop .select2-highlighted > .select2-result-label:before {
  border-right: 10px solid;
  right: .5em;
}
.category-group-title {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.category-group-inner {
  font-size: 12px;
  font-style: italic;
}
.select2-open {
  overflow: hidden;
}
.navbar-default .navbar-nav > li > a {
  font-weight: 500;
}
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li.open > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > .dropdown-toggle:focus + a {
  color: #0099d5;
}
[dir] .navbar-default .navbar-nav > li:hover > a, [dir] .navbar-default .navbar-nav > li.open > a, [dir] .navbar-default .navbar-nav > li > a:hover, [dir] .navbar-default .navbar-nav > li > a:focus, [dir] .navbar-default .navbar-nav > li > .dropdown-toggle:focus + a {
  background-color: #fff;
  border-color: transparent;
}
.navbar-nav .dropdown-menu {
  visibility: hidden;
  -webkit-transition: 0.2s 0s;
  transition: 0.2s 0s;
  display: block;
}
@media (min-width: 1200px) {
  .navbar-nav .dropdown:hover > .dropdown-menu,
  .navbar-nav .dropdown.open > .dropdown-menu {
    -webkit-transition-delay: .3s;
    visibility: visible;
  }
  [dir] .navbar-nav .dropdown:hover > .dropdown-menu, [dir] .navbar-nav .dropdown.open > .dropdown-menu {
            transition-delay: .3s;
  }
}
.navbar-default .navbar-nav .dropdown-toggle {
  vertical-align: middle;
  width: 0;
  opacity: 0;
}
[dir] .navbar-default .navbar-nav .dropdown-toggle {
  padding: 0;
}
.treaties-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 30em;
}
[dir] .treaties-menu {
  border-width: 1px;
}
.navbar-nav .treaties-menu {
  visibility: hidden;
  -webkit-transition: 0.2s .3s;
  transition: 0.2s .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
}
@media (min-width: 1200px) {
  .navbar-nav .dropdown:hover > .treaties-menu.dropdown-menu,
  .navbar-nav .dropdown.open > .treaties-menu.dropdown-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-transition-delay: 0s;
    visibility: visible;
  }
  [dir] .navbar-nav .dropdown:hover > .treaties-menu.dropdown-menu, [dir] .navbar-nav .dropdown.open > .treaties-menu.dropdown-menu {
            transition-delay: 0s;
  }
}
.treaties-menu::before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
}
[dir=ltr] .treaties-menu::before {
  border-right: 1px solid #ddd;
  left: 30%;
}
[dir=rtl] .treaties-menu::before {
  border-left: 1px solid #ddd;
  right: 30%;
}
.treaties-menu .divider {
  width: calc(30% - 3em);
}
[dir] .treaties-menu .divider {
  margin: 1em 1.5em;
}
[dir] .dropdown-full-width > .treaties-menu {
  padding: 0;
}
.treaties-menu > li {
  position: static;
  width: 30%;
}
.treaties-menu-title {
  position: relative;
  z-index: 1;
  white-space: normal;
}
[dir] .treaties-menu-title {
  cursor: pointer;
}
.dropdown-menu > li > .treaties-menu-title {
  color: #8F8F8F;
}
[dir] .dropdown-menu > li > .treaties-menu-title {
  padding: .6em 2em;
}
.dropdown-menu > li > .treaties-menu-title.treaties-menu-all-link {
  color: #333333;
  font-weight: bold;
  text-transform: uppercase;
}
[dir] .dropdown-menu > li > .treaties-menu-title.treaties-menu-all-link {
  background-color: #ddd;
}
.dropdown-menu > li > .treaties-menu-title.treaties-menu-all-link:focus {
  color: #fff;
}
[dir] .dropdown-menu > li > .treaties-menu-title.treaties-menu-all-link:focus {
  background-color: #0099d5;
}
.treaties-menu-title i {
  color: #333333;
}
.treaties-menu-list {
  bottom: 0;
  -webkit-box-shadow: none;
  overflow: auto;
  top: 0;
  z-index: 0;
}
[dir] .treaties-menu-list {
  border: none;
          box-shadow: none;
  margin-top: 0;
  padding-bottom: 2.5em;
}
[dir=ltr] .treaties-menu-list {
  border-left: 1px solid #ddd;
  left: 30%;
  padding-left: 2.5em;
  padding-right: 2.5em;
  right: 0;
}
[dir=rtl] .treaties-menu-list {
  border-right: 1px solid #ddd;
  right: 30%;
  padding-right: 2.5em;
  padding-left: 2.5em;
  left: 0;
}
.treaties-menu-heading {
  color: #8F8F8F;
  display: inline-block;
  font-size: 1em;
  font-weight: normal;
}
[dir] .treaties-menu-heading {
  border-bottom: 1px solid;
  margin-bottom: 1em;
  padding: 1em 0;
}
[dir] .treaties-menu-list-item + .treaties-menu-heading {
  margin-top: 1em;
}
[dir] .treaties-menu-inside-list-item + .treaties-menu-inside-list-item {
  margin-top: .3em;
}
.treaties-menu-treaty {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  -js-display: inline-flex;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 2.5em;
  position: relative;
}
[dir] .treaties-menu-treaty {
  padding: .2em 0;
}
[dir=ltr] .treaties-menu-treaty {
  padding-left: 4.5em;
}
[dir=rtl] .treaties-menu-treaty {
  padding-right: 4.5em;
}
.treaties-menu-treaty:hover,
.treaties-menu-treaty:focus {
  text-decoration: none;
}
.treaties-menu-treaty:hover .treaties-menu-treaty-name,
.treaties-menu-treaty:focus .treaties-menu-treaty-name {
  text-decoration: underline;
}
.treaties-menu-treaty-logo {
  height: 2.5em;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  width: 2.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
}
[dir] .treaties-menu-treaty-logo {
          transform: translateY(-50%);
}
[dir=ltr] .treaties-menu-treaty-logo {
  left: 0;
}
[dir=rtl] .treaties-menu-treaty-logo {
  right: 0;
}
.treaties-menu-treaty-name {
  color: #0A8FC6;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.treaties-menu-treaty-info {
  color: #8F8F8F;
  font-size: .9em;
}
[dir] .treaties-menu-all {
  margin-top: auto;
}
.treaties-menu > li > .treaties-menu-title,
.treaties-menu > li > .treaties-menu-title *,
.treaties-menu > li > .treaties-menu-title::before,
.treaties-menu > li > .treaties-menu-title::after {
  -webkit-transition-property: background-color, color;
  -webkit-transition-delay: .1s;
}
[dir] .treaties-menu > li > .treaties-menu-title, [dir] .treaties-menu > li > .treaties-menu-title *, [dir] .treaties-menu > li > .treaties-menu-title::before, [dir] .treaties-menu > li > .treaties-menu-title::after {
  transition-property: background-color, color;
          transition-delay: .1s;
}
.treaties-menu > li > .treaties-menu-title::before,
.treaties-menu > li > .treaties-menu-title::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  position: absolute;
  vertical-align: middle;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -webkit-transition-property: visibility;
  visibility: hidden;
}
[dir] .treaties-menu > li > .treaties-menu-title::before, [dir] .treaties-menu > li > .treaties-menu-title::after {
  border-top: .8em solid transparent;
  border-bottom: .8em solid transparent;
          transform: translateY(-50%);
  transition-property: visibility;
}
[dir=ltr] .treaties-menu > li > .treaties-menu-title::before, [dir=ltr] .treaties-menu > li > .treaties-menu-title::after {
  border-left: .8em solid;
  left: .5em;
}
[dir=rtl] .treaties-menu > li > .treaties-menu-title::before, [dir=rtl] .treaties-menu > li > .treaties-menu-title::after {
  border-right: .8em solid;
  right: .5em;
}
[dir=ltr] .treaties-menu > li > .treaties-menu-title::after {
  border-left-color: #0099d5;
  left: 100%;
  margin-left: .5em;
}
[dir=rtl] .treaties-menu > li > .treaties-menu-title::after {
  border-right-color: #0099d5;
  right: 100%;
  margin-right: .5em;
}
[dir] .treaties-menu > li:hover > .treaties-menu-title, [dir] .treaties-menu > li:focus > .treaties-menu-title, [dir] .treaties-menu .dropdown-toggle:focus + .treaties-menu-title {
  background-color: #0099d5;
}
.treaties-menu > li:hover > .treaties-menu-title,
.treaties-menu > li:focus > .treaties-menu-title,
.treaties-menu .dropdown-toggle:focus + .treaties-menu-title,
.treaties-menu > li:hover > .treaties-menu-title i,
.treaties-menu > li:focus > .treaties-menu-title i,
.treaties-menu .dropdown-toggle:focus + .treaties-menu-title i {
  color: #fff;
}
.treaties-menu > li:hover > .treaties-menu-title::before,
.treaties-menu > li:focus > .treaties-menu-title::before,
.treaties-menu .dropdown-toggle:focus + .treaties-menu-title::before,
.treaties-menu > li:hover > .treaties-menu-title::after,
.treaties-menu > li:focus > .treaties-menu-title::after,
.treaties-menu .dropdown-toggle:focus + .treaties-menu-title::after {
  visibility: visible;
}
.treaties-menu > li:hover > .treaties-menu-title.treaties-menu-all-link::before,
.treaties-menu > li:focus > .treaties-menu-title.treaties-menu-all-link::before,
.treaties-menu .dropdown-toggle:focus + .treaties-menu-title.treaties-menu-all-link::before,
.treaties-menu > li:hover > .treaties-menu-title.treaties-menu-all-link::after,
.treaties-menu > li:focus > .treaties-menu-title.treaties-menu-all-link::after,
.treaties-menu .dropdown-toggle:focus + .treaties-menu-title.treaties-menu-all-link::after {
  display: none;
}
.page-regions .panels-flexible-row {
  width: 100%;
}
[dir=ltr] .page-regions .panels-flexible-row.row {
  margin-left: 0;
  margin-right: 0;
}
[dir=rtl] .page-regions .panels-flexible-row.row {
  margin-right: 0;
  margin-left: 0;
}
[dir=ltr] .page-regions .panels-flexible-row > .panels-flexible-row-inside {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 0;
  padding-right: 0;
}
[dir=rtl] .page-regions .panels-flexible-row > .panels-flexible-row-inside {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  padding-right: 0;
  padding-left: 0;
}
@media (min-width: 768px) {
  .page-regions .panels-flexible-row > .panels-flexible-row-inside {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .page-regions .panels-flexible-row > .panels-flexible-row-inside {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .page-regions .panels-flexible-row > .panels-flexible-row-inside {
    width: 1170px;
  }
}
[dir=ltr] .page-regions .panels-flexible-row > .panels-flexible-row-inside > .navbar-header, [dir=ltr] .page-regions .panels-flexible-row > .panels-flexible-row-inside > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
[dir=rtl] .page-regions .panels-flexible-row > .panels-flexible-row-inside > .navbar-header, [dir=rtl] .page-regions .panels-flexible-row > .panels-flexible-row-inside > .navbar-collapse {
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 768px) {
  [dir=ltr] .page-regions .panels-flexible-row > .panels-flexible-row-inside > .navbar-header, [dir=ltr] .page-regions .panels-flexible-row > .panels-flexible-row-inside > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
  [dir=rtl] .page-regions .panels-flexible-row > .panels-flexible-row-inside > .navbar-header, [dir=rtl] .page-regions .panels-flexible-row > .panels-flexible-row-inside > .navbar-collapse {
    margin-left: 0;
    margin-right: 0;
  }
}
[dir=ltr] .page-regions .region-content > .block-block {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
[dir=rtl] .page-regions .region-content > .block-block {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .page-regions .region-content > .block-block {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .page-regions .region-content > .block-block {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .page-regions .region-content > .block-block {
    width: 1170px;
  }
}
[dir=ltr] .page-regions .region-content > .block-block > .navbar-header, [dir=ltr] .page-regions .region-content > .block-block > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
[dir=rtl] .page-regions .region-content > .block-block > .navbar-header, [dir=rtl] .page-regions .region-content > .block-block > .navbar-collapse {
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 768px) {
  [dir=ltr] .page-regions .region-content > .block-block > .navbar-header, [dir=ltr] .page-regions .region-content > .block-block > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
  [dir=rtl] .page-regions .region-content > .block-block > .navbar-header, [dir=rtl] .page-regions .region-content > .block-block > .navbar-collapse {
    margin-left: 0;
    margin-right: 0;
  }
}
.page-regions .views-field-treaty-links ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
[dir] .page-regions .views-field-treaty-links ul {
  margin-top: .5em;
}
[dir=ltr] .page-regions .views-field-treaty-links ul {
  padding-left: 0;
  margin-left: -0.2em;
}
[dir=rtl] .page-regions .views-field-treaty-links ul {
  padding-right: 0;
  margin-right: -0.2em;
}
[dir=ltr] .page-regions .views-field-treaty-links li {
  margin-left: .2em;
}
[dir=rtl] .page-regions .views-field-treaty-links li {
  margin-right: .2em;
}
.page-regions .views-field-treaty-links li + li:before {
  color: #8F8F8F;
  content: '|';
}
[dir=ltr] .page-regions .views-field-treaty-links li + li:before {
  margin-right: .2em;
}
[dir=rtl] .page-regions .views-field-treaty-links li + li:before {
  margin-left: .2em;
}
.page-regions .views-field-treaty-links a {
  color: #0A8FC6;
}
.page-regions .views-field-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
}
[dir] .page-regions .views-field-title {
  margin-bottom: .6em;
  margin-top: 1.5em;
}
.page-regions .views-field-title,
.page-regions .views-field-title a {
  color: #1D7CA7;
}
.page-regions .view-news-and-events .views-field {
  color: #8F8F8F;
}
.page-regions .view-news-and-events .views-field-field-event-type ~ .views-field {
  display: inline-block;
}
@media (min-width: 992px) {
  .page-regions .view-news-and-events .views-field-field-event-type {
    display: inline-block;
  }
}
[dir] .page-regions .views-field-field-event-type {
  margin-bottom: .2em;
}
.page-regions .views-field-field-event-type > .field-content {
  color: #fff;
  display: inline-block;
  font-weight: 300;
  min-width: 6em;
}
[dir] .page-regions .views-field-field-event-type > .field-content {
  background-color: #DADADA;
  padding: .2em .4em .1em;
  text-align: center;
}
[dir=ltr] .page-regions .views-field-field-event-type + .views-field ~ .views-field {
  border-left: 1px solid;
  margin-left: .2em;
  padding-left: .5em;
}
[dir=rtl] .page-regions .views-field-field-event-type + .views-field ~ .views-field {
  border-right: 1px solid;
  margin-right: .2em;
  padding-right: .5em;
}
[dir=ltr] .page-regions .views-field-field-event-type ~ .views-field-field-city + .views-field-field-country, [dir=ltr] .page-regions .views-field-field-event-type ~ .views-field-field-country + .views-field-field-city {
  border-left: 0;
  padding-left: 0;
}
[dir=rtl] .page-regions .views-field-field-event-type ~ .views-field-field-city + .views-field-field-country, [dir=rtl] .page-regions .views-field-field-event-type ~ .views-field-field-country + .views-field-field-city {
  border-right: 0;
  padding-right: 0;
}
.page-regions .views-field-field-mea-topic > .field-content {
  color: #fff;
  display: inline-block;
  font-weight: 300;
  min-width: 6em;
}
[dir] .page-regions .views-field-field-mea-topic > .field-content {
  background-color: #DADADA;
  padding: .2em .4em .1em;
  text-align: center;
}
@media (min-width: 992px) {
  .page-regions .views-field-field-mea-topic,
  .page-regions .views-field-field-event-type {
    display: inline-block;
  }
  [dir] .page-regions .views-field-field-mea-topic, [dir] .page-regions .views-field-field-event-type {
    margin-bottom: 0;
  }
  [dir=ltr] .page-regions .views-field-field-event-type + .views-field {
    margin-left: .5em;
  }
  [dir=rtl] .page-regions .views-field-field-event-type + .views-field {
    margin-right: .5em;
  }
  .page-regions .views-field-field-mea-topic + .views-field-field-informea-tags {
    display: inline-block;
  }
  [dir=ltr] .page-regions .views-field-field-mea-topic + .views-field-field-informea-tags {
    margin-left: .5em;
  }
  [dir=rtl] .page-regions .views-field-field-mea-topic + .views-field-field-informea-tags {
    margin-right: .5em;
  }
}
[dir] .page-regions .view-regional-treaties .view-empty {
  margin-top: 27px;
}
.page-regions .pane-view-global-treaties .views-field-title {
  font-weight: normal;
}
.page-regions .views-field-field-informea-tags {
  color: #8F8F8F;
}
[dir] .page-regions .views-field-field-informea-tags {
  margin-top: .5em;
}
.page-regions .views-field-field-informea-tags > .views-label,
.page-regions .views-field-field-informea-tags > .field-content {
  display: inline-block;
}
[dir] .page-regions .views-field-field-mea-topic > .field-content.topic-Climate-Change-and-Atmosphere {
  background-color: #31a0ba;
}
[dir] .page-regions .views-field-field-mea-topic > .field-content.topic-Chemicals-and-Wastes {
  background-color: #e03d0b;
}
[dir] .page-regions .views-field-field-mea-topic > .field-content.topic-Biodiversity {
  background-color: #90bc2f;
}
[dir] .page-regions .panel-separator {
  margin-bottom: 3em;
}
[dir=ltr] .view-contacts-hubs {
  margin-left: -15px;
  margin-right: -15px;
}
[dir=rtl] .view-contacts-hubs {
  margin-right: -15px;
  margin-left: -15px;
}
.view-contacts-hubs .views-field-title {
  font-size: 1em;
  font-weight: normal;
  line-height: inherit;
}
[dir] .view-contacts-hubs .views-field-title {
  margin: 0;
}
.view-contacts-hubs .views-field-title,
.view-contacts-hubs .views-field-title a {
  color: inherit;
}
.view-contacts-hubs .views-row {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
}
[dir] .view-contacts-hubs .views-row {
  margin-top: .5em;
}
@media (max-width: 767px) {
  [dir=ltr] .view-contacts-hubs .views-row.col-xs-6:nth-child(2n + 1) {
    clear: left;
  }
  [dir=rtl] .view-contacts-hubs .views-row.col-xs-6:nth-child(2n + 1) {
    clear: right;
  }
}
@media (min-width: 768px) {
  [dir=ltr] .view-contacts-hubs .views-row.col-sm-4:nth-child(3n + 1) {
    clear: left;
  }
  [dir=rtl] .view-contacts-hubs .views-row.col-sm-4:nth-child(3n + 1) {
    clear: right;
  }
}
.views-field-field-country-iso2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.3em;
          flex: 0 0 1.3em;
  width: 1.3em;
}
.views-field-field-country-iso2 .img-thumbnail {
  max-width: 100%;
}
[dir] .views-field-field-country-iso2 .img-thumbnail {
  border-radius: 0;
  border: 0;
  padding: 0;
}
[dir=ltr] .views-field-field-country-iso2 + .views-field {
  margin-left: .5em;
}
[dir=rtl] .views-field-field-country-iso2 + .views-field {
  margin-right: .5em;
}
.regional-page-panels-title h2 {
  font-size: 1.6em;
  font-weight: bold;
}
[dir] .regional-page-panels-title h2 {
  margin-bottom: 2em;
  margin-top: 3em;
}
[dir] .pane-geographic-region-region-switch-topic, [dir] .topic-switcher-panel-container {
  background-color: #E7E7E7;
}
.pane-geographic-region-region-switch-topic {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
[dir] .pane-geographic-region-region-switch-topic {
  margin: 0 auto;
}
@media (min-width: 992px) {
  .pane-geographic-region-region-switch-topic {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.pane-geographic-region-region-switch-topic .pane-content {
  overflow: hidden;
}
[dir] .pane-geographic-region-region-switch-topic .pane-content {
  margin-top: -10px;
  padding-top: 10px;
}
.pane-geographic-region-region-switch-topic .pane-title {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  font-size: 1em;
  font-weight: normal;
  opacity: .7;
  white-space: nowrap;
}
[dir] .pane-geographic-region-region-switch-topic .pane-title {
  margin: 0;
  padding: 8px 1em 5px;
}
[dir=ltr] .pane-geographic-region-region-switch-topic .pane-title {
  text-align: right;
}
[dir=rtl] .pane-geographic-region-region-switch-topic .pane-title {
  text-align: left;
}
.pane-geographic-region-region-switch-topic .pane-title:after {
  content: ':';
}
.pane-geographic-region-region-switch-topic .nav-tabs {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  overflow-x: scroll;
}
[dir] .pane-geographic-region-region-switch-topic .nav-tabs {
  border: none;
  margin-bottom: -15px;
}
[dir=ltr] .pane-geographic-region-region-switch-topic .nav-tabs {
  margin-left: .5em;
  margin-right: .5em;
}
[dir=rtl] .pane-geographic-region-region-switch-topic .nav-tabs {
  margin-right: .5em;
  margin-left: .5em;
}
@media (min-width: 992px) {
  [dir] .pane-geographic-region-region-switch-topic .nav-tabs {
    margin-top: -10px;
  }
}
[dir] .pane-geographic-region-region-switch-topic .nav-tabs > li {
  margin-bottom: 0;
}
.pane-geographic-region-region-switch-topic .nav-tabs > li > a {
  font-weight: bold;
  white-space: nowrap;
}
[dir] .pane-geographic-region-region-switch-topic .nav-tabs > li > a {
  padding: 8px 18px 5px;
  border: none;
}
[dir=ltr] .pane-geographic-region-region-switch-topic .nav-tabs > li > a {
  border-left: 1px solid #D6D6D6;
  border-right: 1px solid #D6D6D6;
  margin-right: 0;
}
[dir=rtl] .pane-geographic-region-region-switch-topic .nav-tabs > li > a {
  border-right: 1px solid #D6D6D6;
  border-left: 1px solid #D6D6D6;
  margin-left: 0;
}
[dir=ltr] .pane-geographic-region-region-switch-topic .nav-tabs > li:not(.active) + li > a {
  border-left: none;
}
[dir=rtl] .pane-geographic-region-region-switch-topic .nav-tabs > li:not(.active) + li > a {
  border-right: none;
}
@media (max-width: 991px) {
  [dir=ltr] .pane-geographic-region-region-switch-topic .nav-tabs > li.first > a {
    border-left: none;
  }
  [dir=rtl] .pane-geographic-region-region-switch-topic .nav-tabs > li.first > a {
    border-right: none;
  }
}
.pane-geographic-region-region-switch-topic .nav-tabs > li > a,
.pane-geographic-region-region-switch-topic .nav-tabs > li > a:hover,
.pane-geographic-region-region-switch-topic .nav-tabs > li > a:focus {
  color: #1C1C1C;
}
.pane-geographic-region-region-switch-topic .nav-tabs > li.active > a,
.pane-geographic-region-region-switch-topic .nav-tabs > li.active > a:hover,
.pane-geographic-region-region-switch-topic .nav-tabs > li.active > a:focus {
  color: #1D7CA7;
}
[dir] .pane-geographic-region-region-switch-topic .nav-tabs > li.active > a, [dir] .pane-geographic-region-region-switch-topic .nav-tabs > li.active > a:hover, [dir] .pane-geographic-region-region-switch-topic .nav-tabs > li.active > a:focus {
  border: none;
  padding-top: 18px;
}
[dir=ltr] .pane-geographic-region-region-switch-topic .nav-tabs > li.all-topics > a {
  padding-left: 12px;
}
[dir=rtl] .pane-geographic-region-region-switch-topic .nav-tabs > li.all-topics > a {
  padding-right: 12px;
}
.pane-geographic-region-region-switch-topic .nav-tabs > li.all-topics > a:before {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  content: '';
  color: #414141;
}
[dir] .pane-geographic-region-region-switch-topic .nav-tabs > li.all-topics > a:before {
  border-top: 4px dashed;
  border-top: 4px solid \9;
  margin-top: -0.2em;
  border-top: .5em dashed;
}
[dir=ltr] .pane-geographic-region-region-switch-topic .nav-tabs > li.all-topics > a:before {
  margin-left: 2px;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  margin-left: 0;
  margin-right: .3em;
  border-right: .5em solid transparent;
  border-left: .5em solid transparent;
}
[dir=rtl] .pane-geographic-region-region-switch-topic .nav-tabs > li.all-topics > a:before {
  margin-right: 2px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  margin-right: 0;
  margin-left: .3em;
  border-left: .5em solid transparent;
  border-right: .5em solid transparent;
}
.pane-regional-treaties > .pane-title,
.pane-geographic-region-region-downloadable-documents .section-title {
  display: inline-block;
  font-size: .9em;
  font-weight: 500;
  text-transform: uppercase;
  color: #8F8F8F;
}
[dir] .pane-regional-treaties > .pane-title, [dir] .pane-geographic-region-region-downloadable-documents .section-title {
  border-bottom: 2px solid;
  margin-bottom: .8em;
  margin-top: 2em;
  padding-bottom: 1.3em;
}
.pane-geographic-region-region-downloadable-documents > .pane-title,
.pane-news-and-events > .pane-title,
.pane-contacts-hubs > .pane-title {
  color: #2B2B2B;
  font-size: 23px;
  font-weight: bold;
}
[dir] .pane-geographic-region-region-downloadable-documents > .pane-title, [dir] .pane-news-and-events > .pane-title, [dir] .pane-contacts-hubs > .pane-title {
  margin-bottom: 2em;
  margin-top: 0;
}
[dir] .regional-page-accent-panel-container {
  background-color: #F3F3F3;
  margin-top: 7em;
  padding: 4em 0;
}
[dir] .regional-page-contacts-panel-container {
  padding: 4em 0;
}
[dir] .region-downloadable-documents-list > .section-title:first-child {
  margin-top: 0;
}
.region-downloadable-documents-list > li > a {
  color: #242424;
  display: block;
}
[dir] .region-downloadable-documents-list > li > a {
  padding: .2em 0;
}
.explore {
  font-size: 2em;
  font-weight: bold;
}
.explore a {
  display: inline-block;
  font-weight: normal;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.42857143;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 18px;
  line-height: 1.3333333;
  text-transform: uppercase;
}
[dir] .explore a {
  margin-bottom: 0;
  text-align: center;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  border-radius: 4px;
  padding: 10px 16px;
  border-radius: 6px;
  border-radius: 0;
  padding-bottom: 1em;
  padding-top: 1em;
}
[dir=ltr] .explore a {
  margin-left: 1em;
}
[dir=rtl] .explore a {
  margin-right: 1em;
}
.explore a:focus,
.explore a:active:focus,
.explore a.active:focus,
.explore a.focus,
.explore a:active.focus,
.explore a.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.explore a:hover,
.explore a:focus,
.explore a.focus {
  color: #333;
  text-decoration: none;
}
.explore a:active,
.explore a.active {
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
[dir] .explore a:active, [dir] .explore a.active {
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.explore a.disabled,
.explore a[disabled],
fieldset[disabled] .explore a {
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
}
[dir] .explore a.disabled, [dir] .explore a[disabled], [dir] fieldset[disabled] .explore a {
  cursor: not-allowed;
  box-shadow: none;
}
a.explore a.disabled,
fieldset[disabled] a.explore a {
  pointer-events: none;
}
[dir] .explore a:active, [dir] .explore a.active {
  background-image: none;
}
[dir] .regional-page-courses-panel-container {
  background-color: #FFCB33;
  padding: 2em 0;
}
.regional-page-courses-panel-container .explore a,
.regional-page-courses-panel-container .explore a:hover,
.regional-page-courses-panel-container .explore a:focus,
.regional-page-courses-panel-container .explore a:active {
  color: #fff;
}
[dir] .regional-page-courses-panel-container .explore a, [dir] .regional-page-courses-panel-container .explore a:hover, [dir] .regional-page-courses-panel-container .explore a:focus, [dir] .regional-page-courses-panel-container .explore a:active {
  background-color: #1B7DA7;
}
[dir] .involvement {
  background-color: #1B7DA7;
  padding: 3em 0;
}
.involvement,
.involvement a {
  color: #fff;
}
[dir] .involvement + .footer {
  margin-top: 0;
}
@media (max-width: 767px) {
  .region-involvement {
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}
.region-involvement a {
  text-decoration: underline;
}
[dir] .region-involvement input {
  border-radius: 4px;
  border: none;
}
@media (max-width: 767px) {
  .region-involvement input {
    width: 100%;
  }
}
.region-involvement .form-text {
  height: 50px;
}
@media (min-width: 768px) {
  .region-involvement .form-item,
  .region-involvement .form-wrapper {
    max-width: 350px;
  }
}
.region-involvement .btn {
  text-transform: uppercase;
}
[dir] .region-involvement .btn {
  padding: 1em 2em;
}
.region-involvement .btn,
.region-involvement .btn:hover,
.region-involvement .btn:focus,
.region-involvement .btn:active {
  color: #fff;
}
[dir] .region-involvement .btn, [dir] .region-involvement .btn:hover, [dir] .region-involvement .btn:focus, [dir] .region-involvement .btn:active {
  background: transparent;
  border: 1px solid;
}
[dir] .region-involvement .block {
  margin-top: 1em;
}
[dir=ltr] .region-involvement .block {
  text-align: left;
}
[dir=rtl] .region-involvement .block {
  text-align: right;
}
@media (min-width: 768px) {
  .region-involvement .block {
    width: 45%;
  }
  [dir=ltr] .region-involvement .block {
    float: left;
  }
  [dir=rtl] .region-involvement .block {
    float: right;
  }
}
.region-involvement #block-block-24 {
  font-size: 1.2em;
}
[dir] .region-involvement #block-block-24 {
  text-align: center;
  margin-bottom: 1em;
}
@media (min-width: 768px) {
  .region-involvement #block-block-24 {
    width: 100%;
  }
  [dir] .region-involvement #block-block-24 {
    float: none;
  }
}
[dir] .region-involvement #block-block-23 + .block {
  border-top: 1px solid rgba(255, 255, 255, .2);
  margin-top: 3em;
  padding-top: 2em;
}
.region-involvement #block-views-take-part-webform-block > .block-title,
.region-involvement #block-block-23 > .block-title {
  display: inline-block;
  font-size: .9em;
  font-weight: 500;
  text-transform: uppercase;
}
[dir] .region-involvement #block-views-take-part-webform-block > .block-title, [dir] .region-involvement #block-block-23 > .block-title {
  border-bottom: 2px solid;
  margin-bottom: .8em;
  margin-top: 2em;
  padding-bottom: 1.3em;
}
@media (max-width: 767px) {
  .region-involvement #block-views-take-part-webform-block {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  [dir] .region-involvement #block-views-take-part-webform-block {
    border-top: 1px solid rgba(255, 255, 255, .2);
    margin-top: 3em;
    padding-top: 2em;
  }
}
@media (min-width: 768px) {
  [dir=ltr] .region-involvement #block-views-take-part-webform-block {
    float: right;
  }
  [dir=rtl] .region-involvement #block-views-take-part-webform-block {
    float: left;
  }
}
.region-involvement #block-views-take-part-webform-block label {
  font-weight: normal;
  display: block;
}
.region-involvement #block-mailchimp-signup-subscribe-to-newsletter > .block-title {
  font-size: 1.3em;
  font-weight: normal;
  text-transform: uppercase;
}
[dir] .region-involvement #block-mailchimp-signup-subscribe-to-newsletter > .block-title {
  margin-bottom: 1em;
}
[dir] .system-container .alert:first-child {
  margin-top: 20px;
}