@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media screen and (max-width: 767px) {
}
.page-regions .panels-flexible-row > .panels-flexible-row-inside:before,
.page-regions .panels-flexible-row > .panels-flexible-row-inside:after {
  content: " ";
  display: table;
}
.page-regions .panels-flexible-row > .panels-flexible-row-inside:after {
  clear: both;
}
.search-block {
  background-color: #0A8FC6;
  border-top: 1px solid #fff;
  padding: 2.5em 0;
}
.search-block .region-navigation {
  margin: 0 auto;
}
.search-block .region-navigation,
.search-block .region-navigation > .block {
  float: none;
}
.search-block #search-form {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .search-block #search-form {
    width: 80%;
  }
}
.search-block #search-form .form-text {
  padding-left: 2em;
  padding-right: 2em;
}
.pane-geographic-region-region-switch-topic {
  background-color: #E7E7E7;
}
.pane-geographic-region-region-switch-topic {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.pane-geographic-region-region-switch-topic .pane-content {
  overflow: hidden;
  margin-top: -10px;
  padding-top: 10px;
}
.pane-geographic-region-region-switch-topic .pane-title {
  align-items: flex-end;
  color: #111;
  display: flex;
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  opacity: .7;
  padding: 8px 1em;
  text-align: right;
  white-space: nowrap;
}
.pane-geographic-region-region-switch-topic .pane-title:after {
  content: ':';
}
.pane-geographic-region-region-switch-topic .nav-tabs {
  display: flex;
  margin-bottom: 0;
  border: none;
  align-items: flex-end;
  margin-top: -10px;
}
.pane-geographic-region-region-switch-topic .nav-tabs > li {
  margin-bottom: 0;
}
.pane-geographic-region-region-switch-topic .nav-tabs > li > a {
  padding: 8px 18px 8px 12px;
  white-space: nowrap;
}
.pane-geographic-region-region-switch-topic .nav-tabs > li > a,
.pane-geographic-region-region-switch-topic .nav-tabs > li > a:hover,
.pane-geographic-region-region-switch-topic .nav-tabs > li > a:focus {
  border: none;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  color: #1C1C1C;
  margin-right: 0;
}
.pane-geographic-region-region-switch-topic .nav-tabs > li.active > a,
.pane-geographic-region-region-switch-topic .nav-tabs > li.active > a:hover,
.pane-geographic-region-region-switch-topic .nav-tabs > li.active > a:focus {
  border: none;
  color: #1D7CA7;
  padding-top: 18px;
}
.pane-geographic-region-region-switch-topic .nav-tabs > li.active > a:before {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: '';
  color: #414141;
  margin-left: 0;
  margin-right: .3em;
  border-top: .3em dashed;
  border-right: .3em solid transparent;
  border-left: .3em solid transparent;
}
.bg-dark-gray {
  background-color: #E7E7E7;
}
.bg-light-gray {
  background-color: #F3F3F3;
}
.page-regions .panels-flexible-row {
  width: 100%;
}
.page-regions .panels-flexible-row.row {
  margin-left: 0;
  margin-right: 0;
}
.page-regions .panels-flexible-row > .panels-flexible-row-inside {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  .page-regions .panels-flexible-row > .panels-flexible-row-inside {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .page-regions .panels-flexible-row > .panels-flexible-row-inside {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .page-regions .panels-flexible-row > .panels-flexible-row-inside {
    width: 1170px;
  }
}
.page-regions .panels-flexible-row > .panels-flexible-row-inside > .navbar-header,
.page-regions .panels-flexible-row > .panels-flexible-row-inside > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .page-regions .panels-flexible-row > .panels-flexible-row-inside > .navbar-header,
  .page-regions .panels-flexible-row > .panels-flexible-row-inside > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
.alert {
  display: none;
}
/*# sourceMappingURL=style-from-less.css.map */